
<div class="banner banner-image">
  <div class="container">
    <h1 class="banner-title text-center">My watch list</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="col-lg-4 my-3">
          <%= link_to list_path(list) do %>
            <div class="card-category" style="background-image: url(<%= list.list_url %>);">
              <p class="cocktail-card-name">
                <%= list.name %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
