<div class="navbar">
  <div>
    <%= image_tag "3d-glasses.png", class: 'navbar-icon' %>
  </div>
  <div>
    <div>
      <%= link_to new_list_path do %>
        <i class="far fa-plus-square"></i>
        Create a new list
      <% end %>
    </div>
  </div>
</div>
