.button-movie {
  background-color: #C30006;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 6px 24px;
  transition: 0.4s;
  width: 207px;
}

.button-movie:hover {
  background-color: #6cc04a;
}
