.card-movie {
  overflow: hidden;
  height: 312px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card-movie img {
  height: 100%;
  width: 207px;
  object-fit: cover;
}

.card-movie-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-movie-overview {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-movie-infos {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  height: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
